:root{
  --text: #fffddd;
  --background: #181a19;
  --primary: #244f24;
  --secondary: #102d10;
  --accent: #f4ec6c;
}

.light-mode{
  --text: #23231e;
  --background: #fffddd;
  --primary: #52d452;
  --secondary: #bdf2bd;
  --accent: #686639;
}

body{
  font-family: nunito, sans-serif;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.5s ease;
}

a{
  color: var(--primary);
}
*{
  margin: 0;
    padding: 0;
  box-sizing: border-box;
}
